<h1>Productos actuales</h1>
<div>
  <p id="products">
    {{#each products}}
        {{this.title}}
        {{this.description}}
        {{this.code}}
        {{this.price}}
        {{this.status}}
        {{this.stock}}
        {{this.category}}
        {{this.thumbnails}}
        {{this.id}}
    {{/each}}
  </p>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/home.js"></script>